body {
    background: rgb(73, 166, 219);
    font: normal 15pt arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: rgb(211, 199, 177);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(95, 93, 93, 0);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

form {
    margin-top: 10px;
    margin-left: 30px;
}

#nome,
#email,
#cpf,
#telefone,
#password {
    border-radius: 10px;
    padding: 10px;
    width: 400px;
}

#btn {
    background: rgb(101, 172, 212);
    color: white;
    padding: 11px;
    width: 100px;
    border-radius: 7px;
}