header {
    color: black;
    text-align: center;
}

section {
    background: rgb(55, 161, 231);
    border-radius: 10px;
    padding: 15px;
    color: white;
    width: 500px;
    margin: auto;
}

form {
    margin-top: 10px;
    margin-left: 30px;
}

#email,
#password {
    border-radius: 10px;
    padding: 10px;
    width: 400px;
}

a:link {
    text-decoration: none;
}

footer {
    text-align: center;
    font-style: italic;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

