body {
    background: rgb(73, 166, 219);
    font: normal 15pt arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: rgb(194, 188, 178);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(95, 93, 93, 0);
}

form {
    margin-top: 10px;
    margin-left: 30px;
}

#email,
#password {
    border-radius: 10px;
    padding: 10px;
    width: 400px;
}

#btn {
    border-radius: 10px;
    padding: 8px;
    width: 200px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

#btn {
    background: rgb(101, 172, 212);
    color: white;
    padding: 11px;
    width: 80px;
    border-radius: 7px;
}

a:link {
    color: rgb(48, 64, 116);
    text-decoration: none;
}

a:visited {
    color: rgb(48, 64, 116);
}