body {
    background: rgb(73, 166, 219);
    font: normal 15pt arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: rgb(211, 199, 177);
    border-radius: 10px;
    padding: 15px;
    width: 750px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(95, 93, 93, 0);
}

#btn-novo {
    border-radius: 20px;
    padding: 15px;
    width: 70px;
    background: rgb(211, 199, 177);
    margin-left: 53%;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

#menu {
    background: rgb(211, 199, 177);
    padding: 17px;
}

.menu_item {
    color: white;
    width: 100%;
}

th {
    width: 150px;
}

td {
    text-align: center;
}

#topo {
    background: rgb(211, 199, 177);
    color: rgb(68, 7, 148);
    font: normal 18pt arial;
    position: relative;
    padding-top: 2%;
    padding-left: 68%;
    padding-bottom: 2%;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

#btn-link {
    padding: 10px;
    width: 65px;
    color: white;
    background-color: rgb(68, 7, 148);
}