header {
    text-align: center;
}

section {
    background: rgb(118, 188, 253);
    padding: 15px;
    width: 790px;
    margin: auto;
}

th {
    padding-left: 20px;
    color: white;
    width: 130px;
    background: black;
}

td {
    
}

footer {
    text-align: center;
    font-style: italic;
}

a:link {
    color: white;
    text-decoration: none;
}

a:hover{
    color: white;
    text-decoration: none;
}

#btn-sair{
    color: white;
}
#NotUser,
#nomeTarefa,
#status,
#inicio,
#termino{
    padding-left: 20px;
}

#editar{
    padding-left: 10px;
}

#excluir{
    padding-left: 30px;
}