header {
    text-align: center;
}

section {
    background: rgb(118, 188, 253);
    padding: 15px;
    width: 740px;
    margin: auto;
}

th {
    padding-left: 20px;
    color: white;
    width: 140px;
    background: black;
}

td {
    padding-left: 20px;
}

footer {
    text-align: center;
    font-style: italic;
}

a:link {
    color: white;
    text-decoration: none;
}

a:hover{
    color: white;
    text-decoration: none;
}

#btn-sair{
    color: white;
}

#btn-novo{

}